@font-face {
  font-family: Centra;
  src: url('./images/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./images/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./images/font/CentraNo2-Book.ttf');
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.img {
  width: 100%;
  /* height: auto; */
  font-size: x-large;
  color: #fff;
  /* border: 2px solid red; */

}

/* .img:hover{
  width: 75%;
  height: auto;
  /* color: #fff; 
  color: #121212;
  border: 2px solid red;
} */

button {
  border: 0;
  background-color: transparent;
}

/* 
input:focus, textarea:focus, select:focus {
  outline: none;
} */

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/* p.success {
	color: green;
}

p.danger {
	color: red;
} */

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  /* background-color: #121212; */
  background-color: rgb(18, 147, 158);
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

#lets {
  color: #fff
}

#lets:hover {
  color: #000;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a p {
  width: 100%;
  margin-top: 20px;
  /* height: 70px; */
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover p {
  /* background-color: #fff; */
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Banner css start */
.myimage {
  height: 380px;
  width: 400px;
  border-radius: 50%;
  margin-left: 15%;
  /* position: fixed; */

}

.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  /* background-image: url('./images/myimage/bg.jpg'); */
  /* background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, rgb(18, 147, 158) 100%);
   */
  background-image: linear-gradient(rgb(18, 147, 158), rgb(11, 30, 33), rgba(0, 0, 0, 1));

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

/* .banner img {
  animation: updown 3s linear infinite;
} */
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/* -------------------------------skills start ---------------------------------------*/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  /* border: 2px solid red; */
  /* background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, rgb(18, 147, 158) 100%); */
  /* background-image: linear-gradient(  rgb(18, 147, 158) , rgba(0,0,0,1) , rgba(20,20,20,1) );
  bgc */
  background-color: #000;
  /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(20, 20, 20, 1), rgb(1, 22, 23)); */

}

.skill-bx {
  background: #151515;

  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 70px;
  /* border: 2px solid rgb(18, 147, 158); */
  box-shadow: rgb(18, 147, 158) 0px 22px 70px 4px;


}

.skill h2 {
  font-size: 60px;
  font-weight: 700;
  color: rgb(18, 147, 158);
  font-family: 'Bebas Neue', sans-serif !important;
  text-decoration: underline;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* .item{
  height: 150px;
} */

/*------------------------------ About -----------------------------------*/

#about>h1{

  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 60px;
  text-decoration: underline;
  margin-bottom: 5%;
  /* border: 2px solid red; */
}

.text {
  color: white;
  transition: color 0.4s ease;
}

.text.active {
  color: rgb(18, 147, 158);   /* Change to any color you want */
}

#achild-parent {
  margin: 2% 5%;
  width: 90%;
  /* border: 5px solid rgb(18, 147, 158); */
  /* border-style: dashed; */
  text-align: justify;
  /* padding: 5%; */
  /* text-decoration: wavy; */
  white-space: pre-wrap;  
  word-break: break-word;
  tab-size: 4;
  font-size: 18px;
  color: #B8B8B8;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  /* color: #fff; */
  /* margin-block-start: 1em; */
  /* margin-block-end: 1em; */
  background-color: #000;
}

/*************------------------Experience----------------------------*******************************/


.experience {
  position: relative;
  padding: 3% 10%;
  background-color: #000;
  /* border: 2px solid red; */
}
.experience>h1{
  /* border: 2px solid pink; */
  margin-bottom: 5%;
  font-size: 60px;
  font-family: 'Bebas Neue', sans-serif !important;
  text-decoration: underline;
  
  /* color: rgb(18, 147, 158);  */
}

/* Vertical timeline line */
.timeline {
  position: absolute;
  box-shadow: rgb(18, 147, 158) 0px 40px 90px 6px;
  /* left: 20%; */
  right: 47.3%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e5e5e5;
  margin-top: 13%;
}

/* Each row */
.experience-row {
  display: grid;
  grid-template-columns: 30% 10% 60%;
  align-items: start;
  margin-bottom: 2%;

  margin-left: 32.5%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
  /* border: 2px solid yellow; */
}

.experience-row.show {
  opacity: 1;
  transform: translateY(0);
}

/* Year column */
.year {
  font-size: 18px;
  font-weight: 500;
  color: #888;
  text-align: right;
  padding-right: 20px;
}

/* Dot */
.dot {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  position: relative;
  top: 6px;
}

/* Content */
.details h2 {
  font-size: 26px;
  margin-bottom: 6px;
}

.details h3 {
  font-size: 18px;
  color: #666;
  margin-bottom: 12px;
}

.details p {
  max-width: 500px;
  line-height: 1.6;
  color: #444;
}

/************---------------------- Projects Css -------------------------************/

#myprojects {
  /* border: 2px solid green; */
  padding-top: 30px;
  /* background-color: #fff; */
  background-color: #000;
  /* background-image: linear-gradient(rgb(1, 22, 24), rgba(0, 0, 0, 1), rgba(20, 20, 20, 1)); */

}

#projects h1 {
  text-align: center;
  padding: 20px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif !important;
  text-decoration: underline;
} 

#pro-titles1 {
  margin-left: 55%;
}

#pro-titles2 {
  margin-left: 30%;
}

#pro-titles3 {
  margin-left: 55%;
}

#display {
  /* border: 2px solid yellowgreen; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


#video-links {
  margin: 2% 5% 2% 25%;
  /* border: 3px solid red; */
  width: 70%;
  height: 300px;
  border: 5px solid rgb(18, 147, 158);

  border-style: dashed;
  padding: 15px;
  /* box-shadow: rgb(18, 147, 158) 0px 14px 28px, rgb(18, 147, 158) 0px 0px 6px 6px; */
  /* box-shadow: rgb(18, 147, 158) 0px 19px 18px; */

}

#video-links2 {
  margin: 2% 25% 2% 5%;
  /* border: 3px solid red; */
  width: 70%;
  height: 300px;
  border: 5px solid rgb(18, 147, 158);

  border-style: dashed;
  padding: 15px;

}

#video-links3 {
  margin: 2% 5% 2% 25%;
  /* border: 3px solid red; */
  width: 70%;
  height: 300px;
  border: 5px solid rgb(18, 147, 158);

  border-style: dashed;
  padding: 15px;

}

#link {
  opacity: 0;
  /* border: 2px solid green; */
  width: 30%;
  margin: 0% 45%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

}

#link2 {
  opacity: 0;
  /* border: 2px solid green; */
  width: 30%;
  margin: 0% 27%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

}

#link3 {
  opacity: 0;
  /* border: 2px solid green; */
  width: 30%;
  margin: 0% 45%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

}

#play {
  /* border: 4px solid blue; */
  width: 100%;
  margin-right: 10%;
}


#play:hover #link {
  opacity: 1;
}

#play:hover #link2 {
  opacity: 1;
}

#play:hover #link3 {
  opacity: 1;
}

.icon {
  font-size: xx-large;
  color: rgb(86, 214, 225);
  cursor: pointer;
}



/* --------------------------------contact --------------------------------------------*/

#icona {
  /* height: 100%; */
  width: 100%;
  margin: 0 3% 0 0;
  border-radius: 80px 0 0 80px;
}

#form {
  /* border: 3px solid #4A2FBD; */
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #000;
}

#form h1 {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3%;
}

#c-parent {
  border: 0px solid yellow;
  box-shadow: rgb(18, 147, 158) 0px 10px 33px 4px;

  display: flex;
  /* height: 300px; */
  /* margin-bottom: 200px; */
  margin: 0% 20% 5% 20%;
  border-radius: 80px;
}

#c-parent div:nth-child(1) {
  width: 50%;
  border: 0px solid blue;
}


#child {
  width: 50%;
  padding: 20px;

}

#form-send p {
  margin-bottom: -0.1px;
  margin-top: 9px;
  color: rgb(18, 147, 158);
}

#form-send input {
  width: 70%;
  height: 40px;
  border: 2px rgb(18, 147, 158);
  border-radius: 20px;
  outline: none;
  padding-left: 20px;

}

#form-send input::placeholder {
  color: #000;

}

#form-send input:focus,
input:active {
  border-color: transparent;
  border-bottom: 4px solid rgb(18, 147, 158);
}

#form-send textarea {
  width: 70%;
  height: 100px;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
}

#form-send textarea:focus,
textarea:active {
  border-color: transparent;
  border-bottom: 4px solid rgb(18, 147, 158);
}

#button {
  color: #fff;
  height: 50px;
  background-color: rgb(18, 147, 158);
}


/* -----------------------------------github stats---------------------------- */

#githubstat {
  background-color: #000;
  /* border: 2px solid red; */

}

#githubstat-child h1 {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1%;
}

#githubstat-child {
  /* border: 2px solid green; */
  background-color: #000;
  margin: 0% 15%;
  text-align: center;
}

#first-git {
  /* border: 2px solid blue; */
  border: 4px solid rgb(18, 147, 158);
  margin: 2% 0;
  padding: 1%;
}

#git-side {
  /* border: 2px solid blue; */
  display: flex;
  gap: 4%;
  justify-content: space-evenly;
  /* padding: 1%; */
}

#git-side img {
  /* border: 2px solid blue; */
  border: 4px solid rgb(18, 147, 158);
  padding: 1%;
}



/* --------------------------------footer--------------------------------------------------s */


#footer-parent {
  background-color: #000;
}

#footer {
  padding: 0% 0 3% 0;
  margin: 0 35%;
  /* border: 2px solid green; */
  text-align: center;
}

#icons {
  display: flex;
  gap: 15%;
  margin: 0 30%;

}

.footer-icons {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  /* margin-right: 40px; */
}

#ref {
  text-decoration: none;
}



/* responsiveness */

@media (max-width:320px) {

  /* .myimage {
    width: 80%;
    margin-left: 10%;
    height: 240px;
    margin-top: 6%;
  } */
  .myimage {
    margin-top: 50%;
    margin-left: 17%;
  }

  #achild-parent {
    width: 99.5%;
    margin: 1%;
    font-size: small;
  }

  #about {
    margin-top: -25%;
  }

  .skill h2 {
    font-size: xx-large;
  }

  .skill p {
    width: 120%;
    margin: 1%;
    margin-left: -9%;
    font-size: small;
  }

  /* .react-multiple-carousel__arrow {
    visibility: hidden;
  } */
  .react-multiple-carousel__arrow--left {
    visibility: hidden;
  }

  .skill-bx {
    margin-top: 3%;
  }

  #myprojects {
    margin-top: -13%;
  }

  #projects h1 {
    font-size: xx-large;
  }

  #display {
    display: flex;
    flex-direction: column;
  }

  #video-links {
    width: 98%;
    margin: 1%;
    height: 200px;
  }

  #pro-titles1 {
    margin: 0 30%;
  }

  #play:hover #link {
    margin: 1% 30%;
    height: 30px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  #video-links2 {
    width: 98%;
    margin: 1%;
    height: 200px;
  }

  #pro-titles2 {
    margin: 0 25%;
    width: 100%;
  }

  #pro-titles3 {
    margin: 0 40%;
    width: 100%;
  }

  #video-links3 {
    width: 98%;
    margin: 1%;
    height: 200px;
  }

  #githubstat-child {
    width: 100%;
    margin: 0;
  }

  #githubstat-child h1 {
    font-size: x-large;
  }

  #first-git {
    width: 98%;
    /* height: 200px; */
    border: 2px solid rgb(18, 147, 158);
  }

  #git-side {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 1%;
  }

  #git-side img {
    border: 2px solid rgb(18, 147, 158);
  }

  #form {
    /* padding: 0; */
    padding-top: 10px;
  }

  #form h1 {

    font-size: x-large;
  }

  #c-parent {
    width: 98%;
    margin: 1%;
    display: flex;
    flex-direction: column;
  }

  #icona {
    width: 200%;
    /* margin: 0 30%; */
    border-radius: 80px 80px 0 0;
    height: 170px;
  }

  #child {
    width: 100%;
  }

  #form-send p {
    font-size: small;
  }

  #form-send input {
    height: 28px;
    width: 90%;
  }

  #form-send {
    padding-left: 15%;
  }

  #form-send textarea {
    width: 90%;
  }

  #footer {
    width: 100%;
    margin: 0;
  }

  .footer-icons {
    height: 30px;
  }

  #footer h3 {
    font-size: revert;
  }

  .banner h1 {
    font-size: xx-large;
  }

  .banner p {
    font-size: small;
  }

  .social-icon a {
    width: 30px;
    height: 30px;
  }

  .navbar-text button {
    width: 150px;
    height: 60px;
    padding: 10px;

  }

  #root {
    width: 120%;
    overflow-x: hidden;
  }

  /* #nav.navbar{
    width : 100%;
  } */
  /* .container{
    gap: 10px;
    display: flex;
    justify-content: left;
  } */


}


@media only screen and (max-width: 768px) and (min-width : 319px) {
  nav.navbar {
    width: 100%;
    margin: 0;
    padding: 3% 0;
  }

  .banner h1 {
    font-size: 50px;
  }

  .banner p {
    font-size: smaller;
  }

  .myimage {
    width: 300px;
    margin-left: -20px;
    height: 300px;
    margin-top: -40%;
  }

  #achild-parent {
    width: 95%;
    margin: 0;
    padding: 2%;
    font-size: small;
  }

  .skill-bx {
    box-shadow: rgb(18 147 158) 4px 12px 30px 1px;
  }

  .skill h2 {
    font-size: xx-large;
  }

  .skill p {
    font-size: medium;
  }

  #projects h1 {
    font-size: xx-large;
  }

  #display {
    width: 90%;
    margin: 1% 2%;
  }

  #video-links {
    margin: 0 2%;
    width: 100%;
    height: 250px;
  }

  #pro-titles1 {
    margin-left: 45%;
    margin-top: 1%;
  }

  #video-links2 {
    width: 100%;
    height: 250px;
    margin-top: -.3%;
  }

  #pro-titles2 {
    margin-left: 20%;
    margin-top: -5px;
  }

  #video-links3 {
    width: 100%;
    margin: 0;
    height: 250px;
  }

  #pro-titles3 {
    margin-left: 45%;
  }

  #githubstat {
    margin-top: -2%;
  }

  #githubstat-child h1 {
    font-size: xx-large;
  }

  #first-git {
    width: 100%;
  }

  #git-side {
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  #form h1{
    font-size: xx-large;
  }
  #c-parent{
    width: 80%;
    margin: 0 10%;
  }
  #icona{
    height: 95%;
  }
  #footer{
    width: 70%;
    margin: 0 15%;
  }
  .App{
    overflow-x: hidden;
    overflow-y: hidden;
  }
}